.Mu-btn{
     background: #CC8D52;
     color: #fff;
     padding: 14px 18px;
     font-family: sans-serif;
     font-weight: 600;
     transition: linear .3s;
     border: none;
     outline: none;
     
}

.Mu-btn:hover{
     background: #fff;
     color: #171717;
}